/* App-wide styling */
html, body {
  background-color: #f9f9f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
}

/* Use CSS Grid for a robust main app layout */
#app-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow-y: aut;
}

.content-area {
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#title {
  grid-row: 1;
  text-align: center;
  padding: 0.75rem;
  border-bottom: 1px solid #4a4a4a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

#title a {
  text-decoration: none;
  color: white;
}

a#heart {
  background-color: white;
  color: red;
  padding: 5px;
  border-radius: 5px;
}

#title span {
  width: 20px;
}

#title h1 {
  margin: 0.25em;
  font-style: italic;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
}

#skip {
  background-color: #5a6268;
  border: 1px solid #4a4a4a;
}
#save {
  background-color: #007bff;
  border: 1px solid #0069d9;
}

#skip, #save {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease;
}

#skip:hover, #save:hover {
  transform: translateY(-2px);
}

#skip:hover {
  background-color: #6c757d;
}
#save:hover {
  background-color: #0069d9;
}

#navbar {
  border: 1px solid rgb(233, 233, 233);
  border-width: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
}

#navbar a {
  background-color: #a8a8a8;
  border-radius: 5px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 30px 10px 30px;
}

#favorites {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#favorites-container {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.favorite-dog {
  max-height: 180px;
  max-width: 60%;
  position: relative;
}

.favorite-dog img {
  max-height: 150px;
  border-radius: 5px;
  margin: 5px;
}

.favorite-dog:hover button {
  display: block;
}

.favorite-dog button {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}
